@using Sistema;
@model Miembro;
@{
    string correo = Context.Session.GetString("correo");
    string rol = Context.Session.GetString("rol");
}
<p>@Model.NombreCompleto()</p>

@if (TempData["Error"] != null)
{
    <p>@TempData["Error"]</p>
}

@if (rol != "admin" && Model.Email != correo)
{
    if (ViewBag.Amigos != null && ViewBag.Amigos)
    {
        <p><a href="/Solicitudes/EliminarAmistad?correo=@Model.Email">Eliminar Amistad</a></p>
    }
    else if (ViewBag.Solicitud != null && ViewBag.Solicitud)
    {
        <p><a href="/Solicitudes/AceptarSoli?correo=@Model.Email">Aceptar Solicitud</a></p>
        <p><a href="/Solicitudes/RechazarSoli?correo=@Model.Email">Rechazar Solicitud</a></p>
    }
    else
    {
        <p><a href="/Solicitudes/EnviarSolicitud?correosolicitado=@Model.Email">Enviar Solicitud</a></p>
    }
}


<p><a href="/Usuarios/Amigos?correo=@Model.Email">Ver Amigos</a></p>

@foreach (Post p in ViewBag.Posts)
{
    @if (!p.IsCensurado || rol == "admin")
    {
        <article class="border border-primary my-5">
            <p><a href="/Usuarios/Perfil?correo=@p.Autor.Email">@p.Autor.NombreCompleto()</a></p>
            <p>@p.Imagen</p>
            <p>@p.Contenido</p>
            <p><a href="/Posts/ReaccionarPost?idpost=@p.Id&reaccion=1">Like</a>@p.CantidadDeLikes()</p>
            <p><a href="/Posts/ReaccionarPost?idpost=@p.Id&reaccion=0">Dislike</a>@p.CantidadDeDislikes()</p>
            @if (rol == "admin")
            {
                if (!p.IsCensurado)
                {
                    <p><a href="/Posts/BanearPost?idpost=@p.Id">Banear</a></p>
                }
                else
                {
                    <p><a href="/Posts/DesbanearPost?idpost=@p.Id">Desbanear</a></p>
                }

            }
            <form action="/Posts/RealizarComentario" method="post">
                <input type="text" name="idpost" value="@p.Id" hidden>
                <div class="form-group">
                    <label for="titulo">Ingrese el titulo</label>
                    <input type="text" name="titulo" required>
                    <label for="Comentario">Comenté</label>
                    <textarea class="form-control" name="contenido" required></textarea>
                </div>
                <input type="submit" value="Comentar">
            </form>
            <p>Comentarios</p>
            @foreach (Comentario com in p.Comentarios)
            {
                <div class="border border-primary my-2">
                    <p><a href="/Usuarios/Perfil?correo=@com.Autor.Email">@com.Autor.NombreCompleto()</a></p>
                    <p>@com.Titulo</p>
                    <p>@com.Contenido</p>
                    <p><a href="/Posts/ReaccionarComentario?idpost=@p.Id&idcomentario=@com.Id&reaccion=1">Like</a>@com.CantidadDeLikes()</p>
                    <p><a href="/Posts/ReaccionarComentario?idpost=@p.Id&idcomentario=@com.Id&reaccion=0">Dislike</a>@com.CantidadDeDislikes()</p>
                </div>
            }
        </article>
    }
}
