@using Sistema;
@{
    string rol = Context.Session.GetString("rol");
}
@if(@TempData["Mensaje"] == null){
    <p>@TempData["Mensaje"]</p>
}

@foreach(Post p in ViewBag.Posts)
{
    @if (!p.IsCensurado || rol == "admin")
    {
    <article>
        <p>@p.ToString()</p>
        <p>Comentarios</p>
        @if (rol == "admin")
        {
                if (!p.IsCensurado)
                {
                    <p><a href="/Usuarios/BanearPost?idpost=@p.Id">Banear</a></p>
                }else{
                    <p><a href="/Usuarios/DesbanearPost?idpost=@p.Id">Desbanear</a></p>
                }

        }else if(rol == "miembro")
        {
            <p><a href="/">Like</a></p>
            <p><a href="/">Dislike</a></p>
            <form method="post">
                <div class="form-group">
                    <label for="Comentario">Comenté</label>
                    <textarea class="form-control"></textarea>
                </div>
                <input type="submit" value="Comentar">
            </form>
        }
        @foreach (Comentario com in p.Comentarios)
        {
            <p>@com.Autor</p>
            <p>@com.Titulo</p>
            <p>@com.Contenido</p>
            <p><a href="/Comentario/Like">Like</a></p>
            <p><a href="/Comentario/Dislike">Dislike</a></p>
        }
    </article>
    } 
}
